
/******************Gemensamt*****************/


/*input, textarea {
    font-size: 14px;
    width: 200px;
}

label {
    font-size: 16px;
}

input[type=submit] {
    width: auto;
}*/

/******************_Layout*****************/
/*body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
    
menu li {
    display: inline;
}

menu li::after {
    content: ' |';
}

menu li:last-of-type::after {
    content: "";
}*/

/******************Startsida*****************/

#imgDog {
    width: 400px;
    height: 200px;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 1.5rem;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.carousel-item {
    height: 70vh;  /*45*/
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
    width: 100%;
}

div.container#K9Header {
    width: 100% !important;
    margin: 0 auto !important;
}

.verticalLine {
    border-left: 3px solid #e3e6ea;
    border-bottom: 3px solid #e3e6ea;   
    padding-left: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
}

nav > ul > li > a {
    text-decoration: none;
}

.underline {
    position: relative;
}

.underline:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0px; /*Change this to increase/decrease distance*/
    border-bottom: 3px solid #c0c5ce;
}

a.p-2.text-muted.underline {
    outline: none;
}

.carousel-caption.d-none.d-md-block{
    bottom: 50%;
    top: 50%;
    color: ghostwhite;
}










