@*@{
    ViewBag.Title = "Läs mer om oss";
}*@

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        @*<small>Grundidé</small>*@
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        @*<div class="col-md-5">
            <img id="imgDog" class="img-fluid" src="~/img/Hund.jpg" alt="Hund"/>
        </div>*@

        <div class="col-md-12">
            <h3 class=""> K9 Biathlon Örebro</h3>
            <p>
                I omgivningarna kring det vackra Segersjö Herrgård, 3 mil utanför Örebro anordnas K9 Biathlon Örebro.

                Vill du vara med om en häftig upplevelse tillsammans med din hund då är detta grejen för dig!

                ska det springas, klättras, krypas, köras hund i skottkärra m.m. för att på olika sätt utmana hund och förare. 
                
            </p>
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4">Om oss</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img id="imgDog" class="img-fluid img-thumbnail" src="~/img/Hund.jpg" alt="Hund" />
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img id="imgDog" class="img-fluid img-thumbnail" src="~/img/Hund.jpg" alt="Hund" />
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img id="imgDog" class="img-fluid img-thumbnail" src="~/img/Hund.jpg" alt="Hund" />
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img id="imgDog" class="img-fluid img-thumbnail" src="~/img/Hund.jpg" alt="Hund" />
            </a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->