@{
    ViewBag.Title = "";
}

@section Head {
    <link href="~/css/anmalan.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="formAnmalan col-md-11 col-sm-12">
            <h2 class="blog-post-title" style="margin-bottom: .25rem; font-size: 2.3rem;">
                Anmälan till K9 Biathlon Örebro - Segersjö 2019
            </h2>
            <br />
            <p><strong>Sista anmälningsdagen är 2019-06-30</strong></p>
            <p>
                Kostnaden för att delta är 300 kr och avgiften ska betalas senast 7 dagar efter anmälan är gjord annars förlorar du din plats.
            </p>
            <blockquote>
                <p>
                    Betalningen ska ske till <strong>BG-nummer 635-6372, BMs Hundtjänst.</strong>
                </p>
            </blockquote>
            <p>
                Märk betalningen med namn på föraren samt det anmälningsnummer från det bekräftelsemejl du får när du fyllt i anmälningsformuläret.
            </p>
            <p>
                Anmälan är bindande vid fullföljd betalning. Anmälningsavgiften betalas endast tillbaka efter uppvisande av veterinär- eller läkarintyg.
            </p>
            <br />

            <div>
                <a href="https://www.ypsik.com/portal/events.aspx?key=fe485586-1e04-4643-8c54-db767a22e1d0" style="font-size:larger" target="_blank">Anmäl dig här!</a>
            </div>
        </div>
    </div>
</div>

@*<div class="container">
    <div class="row">
        <div class="formAnmalan col-lg-12 col-md-12">
            <iframe src="https://www.ypsik.com/portal/events.aspx?key=fe485586-1e04-4643-8c54-db767a22e1d0" width="900" height="800" frameborder="0" marginwidth="0" marginheight="0" allowtransparency="true"></iframe>
        </div>
        <div>
            <a href="https://www.ypsik.com/portal/events.aspx?key=fe485586-1e04-4643-8c54-db767a22e1d0">Anmäl dig här!</a>
        </div>
    </div>
</div>*@


@*@section Scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
        }*@