@{
    ViewBag.Title = "";
}
@*@section Scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}*@



<div class="col-md-6 offset-md-3">
    <h2>
        Anmälan
    </h2>
    <h3>
        Här anmäler du dig till 2019 års K9 Biathlon i Örebro - Segersjö.
    </h3>
</div>

