
@{
    Layout = "~/Views/Shared/_LayoutTemp.cshtml";
    ViewBag.Title = "";
}

<body>
    <div class="bg">
        <div class="backgroundFilter">
            <div class="captionText">
                <h1 class="Info-Text display-3">Välkommna till K9 Biathlon Örebro - Segersjö!</h1>
                <h2 class=" Info-Text display-4">Anmälan öppnar inom kort.</h2>
            </div>
        </div>
    </div>

</body>

