@{
    ViewBag.Title = "";
}


<div class="container">
    <div class="row">
        <div class="col-md-10 col-sm-12 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title" style="margin-bottom: .25rem; font-size: 2.3rem;">
                    En häftig upplevelse för dig och din hund!
                </h2>
                <p class="blog-post-meta" style="color: #626262; font-size:.85em;">Publicerat April 16, 2019@*<a href="#">Johan</a>*@</p>
                <div class="row">
                    <div class="col-md-5">
                        <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/banträning-5052.jpg" alt="" />
                    </div>
                    <div class="col-md-5">
                        <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/SegersjoTavling.jpg" alt="" />
                    </div>
                </div>

                <p>
                    Vill du vara med om en häftig upplevelse tillsammans med din hund? I omgivningarna kring det vackra Segersjö arrangerar vi ett K9 Biathlon. 
                </p>
                <blockquote>
                    <p>
                        En tävling där hund och förare utmanas på olika sätt. Det kommer bland annat springas, klättras, krypas och köras hund i skottkärra.
                    </p>
                </blockquote>
                <p>
                    Tävlingen arrangeras den <strong>24 augusti</strong> i samband med de välbesökta Segersjödagarna där hästtävlingar av välkända mått lockar en stor publik.
                </p>
                <p>
                    Du väljer mellan två banlängder, tre eller åtta kilometer, med olika svårighetsgrad och i år erbjuder vi tre klasser. En motionsklass på tre km, en tävlingsklass på tre km samt en tävlingsklass på åtta km.
                </p>
                <p>Sista anmälningsdag är den <strong>30 juni.</strong></p>
                <br />
                <p style="line-height:150%; font-family:'Lucida Handwriting'; font-size: 14pt;">
                    Varmt välkommen!
                </p>
                <p style="line-height:150%; font-family:'Candara',sans-serif; font-size: 14pt;">BM:s Hundtjänst & co</p>
                <br />
                <div class="footerLine"></div>
            </div><!-- /.blog-post -->

            @*<div class="blog-post">
                <h2 class="blog-post-title">New feature</h2>
                <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <ul>
                    <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                    <li>Donec id elit non mi porta gravida at eget metus.</li>
                    <li>Nulla vitae elit libero, a pharetra augue.</li>
                </ul>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            </div>*@
            <!-- /.blog-post -->

            @*<nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
            </nav>*@

        </div>
    </div>
</div>
