@{
    ViewBag.Title = "Välkommen till K9 Biathlon Örebro - Segersjö";
}

<div class="rows">
    <div class="col-md-12">
        @*<div>
            <img id="imgDog" src="~/img/Hund.jpg" />
        </div>*@
        <br />
        @*<p><a href="https://www.facebook.com/K9BiathlonOrebroSegersjo2018/" target="_blank">Länk till Facebook</a></p>*@
    </div>
</div>

