@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        @*<small>Grundidé</small>*@
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-12">
            <h3 class=""> K9 Biathlon Örebro - Segersjö</h3>
        <br />
            <p>
                Vi är ett glatt gäng som har hundar som gemensam nämnare.
            </p>
                
            <p>
                Hösten 2017 åkte vi till Helsingborg för att prova på K-9 Biathlon som är en relativ ny ”hundsport”.
                Allt är kul med hund men att träna inför Biathlon var jättekul så... varför inte anordna en egen tävling i detta.
            </p> 
            <p>
                Sagt och gjort och efter kontakt med familjen Montgomery-Cederhielm vid Segersjö, om att få använda deras fältritthinder, så ville de gärna att vi anordnade vår tävling ihop med deras Segersjödagar, 
                där det är hästtävlingar varje år.
            </p>
            <p>
                Så blev det och succe’ är ett ord att beskriva det med vilket vi ska göra vårt bästa att upprepa i år.
            </p>
            <p>Välkomna !</p>
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4"></h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <img id="imgDog1" class="img-fluid img-thumbnail imgDog" src="~/img/banträning-5260.jpg" alt="Hund" onclick="openModal(this.id)" />
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img id="imgDog2" class="img-fluid img-thumbnail imgDog" src="~/img/banträning-5242-2.jpg" alt="Hund" onclick="openModal(this.id)" />
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img id="imgDog3" class="img-fluid img-thumbnail imgDog" src="~/img/banträning-5052.jpg" alt="Hund" onclick="openModal(this.id)"/>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img id="imgDog4" class="img-fluid img-thumbnail imgDog" src="~/img/banträning-5098.jpg" alt="Hund" onclick="openModal(this.id)"/>
        </div>

    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01" />

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>

    <!-- /.row -->

</div>
<!-- /.container -->


@section scripts {

    <script>

        // Get the modal
        

        function openModal(id) {
            var modal = document.getElementById('myModal');
            var img = document.getElementById(id);
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");

            modal.style.display = "block";
            modalImg.src = img.src;
            captionText.innerHTML = this.alt;

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }
        }

    </script>
}

