@{
    ViewBag.Title = "Registrera";
}
<form method="post">
    <label>Förnamn:</label>
    <br />
    <input />
    <br />
    <label>Efternamn:</label>
    <br />
    <input />
    <br />
    <label>Hundnamn:</label>
    <br />
    <input />
    <br />
    <label>Hundras:</label>
    <br />
    <input />
    <br />
    <button id="btnRegister" type="submit">Registrera</button>
</form>