@{ 
    ViewBag.Title = "";
}
<br />

<div class="container col-md-12 offset-md-1">
    <h2>K9 Biathlon 2019 regler</h2>
    <br />
    <div class="verticalLine">
        @*<strong>Hunden ska bära sele</strong>*@
        <p>Hunden ska bära sele och vara fastsatt i expanderlina (max 3 meter) i föraren.</p>
    </div>
    <div class="verticalLine">
        @*<strong>Hunden ska hela tiden vara kopplad</strong>*@
        <p>Hunden ska hela tiden vara kopplad på banan inklusivehela tävlingsområdet.</p>
    </div>
    <div class="verticalLine">
        @*<strong>Deltagare startar en åt gången</strong>*@
        <p>Deltagarna i klasserna startar en åt gången med några minuters mellanrum.</p>
    </div>
    <div class="verticalLine">
        @*<strong>Anmäl vid entrén</strong>*@
        <p>Anmäl vid entrén om du har en löptik då de ska starta sist i startfältet.</p>
    </div>
    <div class="verticalLine">
        @*<strong>Det kan bli köbildning</strong>*@
        <p>Det kan bli köbildning ute på banan vid de olika hindren och du får även räkna med att bli omsprungen av andra ekipage.</p>
    </div>
    <div class="verticalLine">
        @*<strong>Strafftid tillkommer</strong>*@
        <p>Strafftid tillkommer om du inte genomför ett hinder</p>
    </div>
    <div class="verticalLine">
        @*<strong>Vaccinationskrav gäller enligt SKK:s regler</strong>*@
        <p>Vaccinationskrav gäller enligt SKK:s regler, medtag vaccinationsintyg då stickprovskontroller kommer att genomföras innan start.</p>
    </div>
    <div class="verticalLine">
        @*<strong>Fotografering kommer att ske under tävlingsdagen</strong>*@
        <p>Fotografering kommer att ske under tävlingsdagen. Informationen hanteras inom ramarna för GDPR-reglerna för ideella föreningar vilket innebär bl.a. att den bara kommer att nyttjas inom ramen för tävlingens genomförande.</p>
    </div>
    <div class="verticalLine">
        @*<strong>Din hund måste vara minst 12 månader</strong>*@
        <p>Din hund måste vara minst 12 månader för att få delta i sträckorna på 3 km och minst 18 månader för att få delta i sträckan på 8 km.</p>
    </div>
    <div class="verticalLine">
        @*<strong>Ni ansvarar själva för att hunden</strong>*@
        <p>Ni ansvarar själva för att hunden och hundföraren är försäkrade under denna dag.</p>
    </div>
    <div class="verticalLine">
        @*<strong>Plocka upp</strong>*@
        <p>Plocka upp efter din hund.</p>
    </div>
    <div class="verticalLine">
        @*<strong>Parkera bilen</strong>*@
        <p>Parkera bilen enligt anvisningar på området.</p>
    </div>

</div>
