@{ 
    ViewBag.Title = "";
}
<br />

<div class="container col-md-12 offset-md-1">
    <h2>K9 Biathlon 2019 regler</h2>
    <br />
    <ul class="list-group">
        <li class="list-group-item">Hunden ska bära sele och vara fastsatt i expanderlina (max 3 meter) i föraren </li>
        <li class="list-group-item">Hunden ska hela tiden vara kopplad på banan inklusivehela tävlingsområdet</li>
        <li class="list-group-item">Deltagarna i klasserna startar en åt gången med några minuters mellanrum</li>
        <li class="list-group-item">Anmäl vid entrén om du har en löptik då de ska starta sist i startfältet</li>
        <li class="list-group-item">Det kan bli köbildning ute på banan vid de olika hindren och du får även räkna med att bli omsprungen av andra ekipage</li>
        <li class="list-group-item">Strafftid tillkommer om du inte genomför ett hinder</li>
        <li class="list-group-item">Vaccinationskrav gäller enligt SKK:s regler, medtag vaccinationsintyg då stickprovskontroller kommer att genomföras innan start.</li>
        <li class="list-group-item">Fotografering kommer att ske på banan</li>
        <li class="list-group-item">Din hund måste vara minst 12 månader för att få delta i sträckorna på 3 km och minst 18 månader för att få delta i sträckan på 8 km.</li>
        <li class="list-group-item">Ni ansvarar själva för att hunden och hundföraren är försäkrade under denna dag.</li>
        <li class="list-group-item">Plocka upp efter din hund</li>
        <li class="list-group-item">Parkera bilen enligt anvisningar på området.</li>
    </ul>

</div>

@*<div class="container col-md-12 offset-md-1">
    <h2>K9 Biathlon 2019 regler</h2>
    <br />
    <ul>
        <li>Hunden ska bära sele och vara fastsatt i expanderlina (max 3 meter) i föraren </li>
        <li>Hunden ska hela tiden vara kopplad på banan inklusivehela tävlingsområdet</li>
        <li>Deltagarna i klasserna startar en åt gången med några minuters mellanrum</li>
        <li>Anmäl vid entrén om du har en löptik då de ska starta sist i startfältet</li>
        <li>Det kan bli köbildning ute på banan vid de olika hindren och du får även räkna med att bli omsprungen av andra ekipage</li>
        <li>Strafftid tillkommer om du inte genomför ett hinder</li>
        <li>Vaccinationskrav gäller enligt SKK:s regler, medtag vaccinationsintyg då stickprovskontroller kommer att genomföras innan start.</li>
        <li>Fotografering kommer att ske på banan</li>
        <li>Din hund måste vara minst 12 månader för att få delta i sträckorna på 3 km och minst 18 månader för att få delta i sträckan på 8 km.</li>
        <li>Ni ansvarar själva för att hunden och hundföraren är försäkrade under denna dag.</li>
        <li>Plocka upp efter din hund</li>
        <li>Parkera bilen enligt anvisningar på området.</li>
    </ul>
</div>*@