@{
        ViewBag.Title = "";
}

<!-- Page Content -->
<div class="container col-md-12 offset-md-1">

    <h2 class="">Samarbetspartners</h2>

    <hr class="col-md-12 col-sm-12">

    <div class="row text-center text-lg-left">

        <div class="col-md-4 col-sm-6 mb-4">
            <a href="http://www.specific-diets.se/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img//Sponsor/Specific.png" alt="Sponsor" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="http://www.ramudden.se/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/Ramudden.jpg" alt="Sponsor" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="https://www.facebook.com/Maries-Skor-501982213199117/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/MariesSkor.jpg" alt="Sponsor" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="https://www.ica.se/butiker/supermarket/orebro/odenhallen-odensbacken-3516/start/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/ica_odenhallen.jpg" alt="Sponsor" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="http://www.jml.se/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/jml.png" alt="Sponsor" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="https://www.purina.se/vi-presenterar-purina/purinas-varumarken/hundar-varumarken/dentalife" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/purina_dentalife.jpg" alt="Sponsor" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="https://www.purina.se/vi-presenterar-purina/purinas-varumarken/hundar-varumarken/adventuros" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/Adventuros_Simplified_LOGO.png" alt="Sponsor" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="https://www.djurenscenter.se/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/dc-logotype-marieberg.png" alt="Sponsor" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="https://www.handelsbanken.se/sv/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/Handelsbanken.png" alt="Sponsor" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="https://www.djurklinikenanima.se/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/Anima.png" alt="Sponsor" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="https://smadjursklinikenihbg.se/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/Smadjurskliniken.jpg" alt="Sponsor" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="https://www.teamsportia.se/stores/team-sportia-orebro-klubb/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/Team_sportia.png" alt="Sponsor" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="https://www.anicura.se/djursjukhuset-i-kumla/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/anicura_djursjukhuset_kumla_vertical_rgb.png" alt="Sponsor" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="https://www.spreadthesign.com/sv.se/search/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/STS_Logotype_Symbol_Wordmark_Large_Orange_CMYK_1.png" alt="Sponsor" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="https://www.granngarden.se/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/Granngården.png" alt="Sponsor" />
            </a>
        </div>
    </div>
</div>
<!-- /.container -->