@{
        ViewBag.Title = "";
}

<!-- Page Content -->
<div class="container col-md-12 offset-md-1">

    <h2 class="">Samarbetspartners</h2>

    <hr class="col-md-12 col-sm-12">

    <div class="row text-center text-lg-left">

        <div class="col-md-4 col-sm-6 mb-4">
            <a href="http://www.specific-diets.se/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img//Sponsor/Specific.png" alt="Sponsor" />
            </a>
        </div>
        @*<div class="col-md-4 col-sm-6 mb-4">
            <a href="https://www.granngarden.se/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/Granngården.png" alt="Sponsor" />
            </a>
        </div>*@
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="https://myofficesweden.se/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/myOffice.jpg" alt="Sponsor" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="http://www.ramudden.se/" target="_blank">
                <img id="" class="img-fluid img-thumbnail sponsorLink" src="~/img/Sponsor/Ramudden.jpg" alt="Sponsor" />
            </a>
        </div>
    </div>
</div>
<!-- /.container -->