@{
        ViewBag.Title = "";
}

<!-- Page Content -->
<div class="container col-md-12 offset-md-1">

    <h2 class="">Samarbetspartners</h2>

    <hr class="col-md-12 col-sm-12">

    <div class="row text-center text-lg-left">

        <div class="col-md-4">
            <a href="http://www.specific-diets.se/" class="sponsorLink" target="_blank">
                <img id="sponsorLink" class="img-fluid" src="~/img//Sponsor/Specific.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://www.granngarden.se/" class="sponsorLink" target="_blank">
                <img id="sponsorLink" class="img-fluid" src="~/img/Sponsor/Granngården.png" alt="" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://myofficesweden.se/" class="" target="_blank">
                <img id="sponsorLink" class="img-fluid" src="~/img/Sponsor/myOffice.jpg" alt="Hund" />
            </a>
        </div>
    </div>
</div>
<!-- /.container -->