@{
        ViewBag.Title = "";
}

<!-- Page Content -->
<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Samarbetspartners</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

        <div class="col-md-4">
            <a href="http://www.specific-diets.se/" class="sponsorLink" target="_blank">
                <img id="sponsorLink" class="img-fluid" src="~/img//Sponsor/Specific.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://www.granngarden.se/" class="sponsorLink" target="_blank">
                <img id="sponsorLink" class="img-fluid" src="~/img/Sponsor/Granngården.png" alt="" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://myofficesweden.se/" class="" target="_blank">
                <img id="sponsorLink" class="img-fluid" src="~/img/Sponsor/myOffice.jpg" alt="Hund" />
            </a>
        </div>
    </div>

</div>
<!-- /.container -->